name: hprofile Actions
on: workflow_dispatch
jobs: 
  Testing:
    runs-on: ubuntu-latest
    steps:
      - name: Git Code Checkout
        uses: actions/checkout@v6

      - name: Maven Test
        run: mvn test

      - name: Checkstyle
        run: mvn checkstyle:checkstyle
